<div class="body-home">
	<div class="container">
		<div class="hero-unit efect-opacity">
			<h1>Logo Hora salud</h1>
			<p>¿Quieres encontrar el doctor que buscas con solo un click? Con <strong>Hora Salud</strong> te ayudamos a elegir la consulta médica que tu necesitas.</p>
			<%= render 'search_doctor' %>
		</div>
	</div>
</div>